body,
html {
  background-color: $color-body;
  height: 100%;
}

a {
  text-decoration: none;
  color: $color-link;
//   border-bottom: 1px dotted $color-link;
  &:hover {
//     background-color: $color-link_hover;
  }
}

p {
  font-family: $font-stack-body;
}

h1,
h2,
h3,
h4 {
  font-family: $font-stack-header;
}

h4,
h6 {
  font-family: $font-stack-body;
}

ul {
  font-family: $font-stack-body;
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}
