body,
html {
  background-color: $color-body;
  height: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $color-link;
  /*border-bottom: 1px dotted $color-link;*/
  &:hover {
  	background-color: $color-link_hover;
  }
}

p {
  font-size: 1.05rem;
  font-family: $font-stack-body;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: $font-stack-header;
  line-height: 1;
  margin: 0 0 1rem 0;
}

h4,
h6 {
  font-family: $font-stack-body;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

ul {
  font-family: $font-stack-body;
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}
