body,
html {
  background-color: $color-body;
  height: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $color-link;
  /*border-bottom: 1px dotted $color-link;*/
  &:hover {
  	/*border-bottom: 1px dotted $color-link;*/
  	/*background-color: $color-link_hover;*/
  }
}

p {
  font-size: 1.05rem;
  font-family: metropolis-regular;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

h1,
h2,
h3,
h4 {
  font-family: metropolis-bold;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 1rem 0;
}

h5,
h6 {
  font-family: metropolis-bold;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 2.7rem;

  @include media-query($large-up) {
    font-size: 3.6rem;
  }
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.1rem;
}

ul {
  font-family: metropolis-regular;
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

s {
  color: $color-secondary_1;
  font-family: metropolis-regular;
  font-size: 2rem;
}
