/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  // -webkit-appearance: none;
  border: 1px solid $color-border;
  border-radius: $borderradius;
  font-family: metropolis-bold;
  font-size: 1.1rem;
  margin: .3rem;
  min-width: 0px;
  padding: .5rem;

  &:focus {
    border-left: 2px solid $color-border;
  }

  &[disabled] {
    cursor: default;
    background-color: $color-disabled;
    border-color: $color-disabled-border;
  }
}

textarea {
  min-height: 100px;
}

label {
  font-family: metropolis-regular;
  font-size: 1.2rem;
}

input[type='search'] {
  -webkit-appearance: none;
}

/*================ Custom select style ================*/
select {
  @include prefix(appearance, none, webkit moz spec);
  background-position: right center;
  background: {
    image: url($svg-select-icon);
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 ================*/
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}

/*================ Error styles ================*/
input,
select,
textarea {
  &.input-error {
    border-color: $color-error;
    background-color: $color-error-bg;
    color: $color-error;
  }
}
