/*================ General layout styles ================*/
.page-width {
  /*border: 1px solid lawngreen;*/
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

main {
  /*border: 1px solid pink;*/
  max-width: $width-site;
  margin: auto;
}

footer {
  border-top: 1px solid $color-border;
  margin-top: 3rem;
  padding: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-item {
  // border: 1px solid pink;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    // border: 1px solid blue;
    flex: 0 1 30%;
    margin: 1rem;
    text-align: center;
  }
}

.footer-social,
.footer-payment {
  display: flex;
  justify-content: center;

  li {
    margin: 0 1rem;
  }
}
