/*================ General layout styles ================*/
.page-width {
  /*border: 1px solid lawngreen;*/
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

main {
  max-width: $width-site;
  margin: auto;
}

footer {
  border-top: 1px solid $color-border;
}
