/*================ Links & Buttons ================*/
.btn {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
}

button {
  @include dropshadow;
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  background-color: $primary-button-color;
  border: 1px solid darken($primary-button-color, 20%);
  color: $color-body-text;
  font-family: metropolis-bold;
  font-size: 1.2rem;
  padding: 0.4rem 1.2rem;
  border-radius: $borderradius;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: .2rem;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  min-height: 3rem;

  &:hover {
    @include dropshadow-hover;
    background-color: lighten($primary-button-color, 15%);
  }
}

#js-toggle {
  cursor: pointer;
  color: $color-link;
}
