/*================ Links & Buttons ================*/
.btn {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
}

button {
  @include dropshadow;
  background-color: $color-primary;
  border: 1px solid $color-border;
  color: #fff;
  font-weight: 700;
  padding: .5rem 1rem;
  border-radius: $borderradius;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: .2rem;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}

.search-button {
  border-radius: 100%;
  padding: .5rem;
}
