/*-------------- Hero banners on the home page -------------------*/
.hero {
  display: flex;
  flex-direction: column;

  @include media-query($medium-up) {
    flex-direction: row;
  }
}

.hero-item {
  padding-right: 1rem;

  &:last-of-type {
    padding-right: 0;
  }
}
