.collection-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .collection-header-item {
    flex: 1 1 50%;
    padding-left: 2rem;

  }
}

.collection-title {
  border: 1px solid red;
}

.collection-taglist {
  display: flex;
  flex-wrap: wrap;

  li {
    margin: .3rem;
  }

  @include media-query($large-up) {
    display: inherit;
  }
}

.collection-product-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  @include media-query($large-up) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.collection-alltags {
  // border: 1px solid purple;
  border-top: 1px solid $color-secondary_2;
  padding-left: 1rem;
  padding-top: 1rem;

  @include media-query($large-up) {
    // border-left: 1px solid $color-secondary_2;
    border-top: 0;
    flex: 0 0 20%;
  }
}

.collection-products {
  flex: auto;
  order: -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;

  @include media-query($large-up) {
    border-right: 1px solid $color-secondary_2;
    width: 80%;
  }
}

.collection-products-item {
  flex: 0 1 50%;
  padding: .5rem;

  @include media-query($medium-up) {
    flex: 0 1 30%;
  }
}

.pagination {
  font-size: .9rem;
  font-family: metropolis-regular;
  line-height: 1;
  // text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin: 0 .8rem;
    // padding: .4rem;

    a {
      // border: 1px solid red;
      padding: .4rem;
    }
  }

  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-secondary_2;
    border-radius: 2px;
    min-width: 2rem;
  }

  .current {
    background-color: lighten($color-secondary_2, 10%);
    padding: .4rem;
  }
}

.sold-out {
  color: $color-error;
}

.on-sale {
  font-weight: bold;
}
