.template-password {
  background-color: lighten($color-secondary_2, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loginbox {
  border: 1px solid $color-accent;
  background-color: $color-body;
  padding: 2rem 4rem;
  border-radius: 3px;

  header {
    padding: 0;
  }

  h1 {
    font-size: 3rem;
    line-height: 1;
    margin: 0;
  }

  main {
    font-family: $font-stack-body;
  }

  .social-sharing {
    display: flex;
    justify-content: space-between;

    * {
      flex: 1;
      margin-bottom: 1rem;
    }
  }

  .enter-password {
    margin: 1rem 0;
  }

  footer {
    color: $color-body-text_medium;
    /*margin-bottom: 1rem;*/
  }

  h4 {
    padding-top: 1.5rem;
    /*border-top: 1px solid $color-border;*/
  }
}

.owner-login {
  margin: 3rem 0;
}

.storefront-password-form {
  display: flex;
  align-items: center;
  input {
    margin: 0;
  }
  label {
    margin-right: 1rem;
  }
}
