.template-password {
  background-color: $color-primary-light;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loginbox {
  border: 1px solid $color-border;
  background-color: $color-body;
  padding: 2rem 4rem;
  border-radius: 1rem;

  header {
    padding: 0;
  }

  h1 {
    font-size: 3rem;
    line-height: 1;
    margin: 0;
  }

  main {
    font-family: $font-stack-body;
  }

  .social-sharing {
    display: flex;
    justify-content: space-between;

    * {
      flex: 1;
      margin-bottom: 1rem;
    }
  }

  .enter-password {
    margin-bottom: 1rem;
  }

  footer {
    color: $color-body-text_medium;
    /*border-top: 1px solid $color-primary-light;*/
  }

  h4 {
    padding-top: .5rem;
    border-top: 1px solid $color-border;
  }
}
