#shopify-section-product {
	/*border: 1px solid lime;*/
  width: 90%;
  margin: auto;

  @include media-query($large-up) {
    width: 70%;
  }
}

.main-image {
  /*border: 1px solid red;*/
  text-align: center;
  img {
  	/*border: 1px solid blue;*/
  }
}

.image-thumb_list {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  // flex-wrap: wrap;
}

.imagethumb {
  border: 1px solid $color-secondary_2;
  flex: 0 0 auto;
  margin: .5rem;

  // @include media-query($large-up) {
  //   flex: 0 0 auto;
  // }

  a {
    cursor: pointer;
  }
}

.qty-price-wrapper {
	// border: 1px solid lime;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch; //flex-start

  @include media-query($small-up) {
    flex-direction: row;
    justify-content: flex-start;

    button {
      margin-left: auto;
    }
  }
}

.quantity-selector {
  flex: none;
}

// .add-to-cart {
//   @include media-query($small-up) {
//     margin-left: auto;
//   }
// }

.selector-wrapper {
  // border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  label {
    display: inline-block;
    width: 6rem;
  }
}

.shappify-qty-msg {
  .shappify_qb_grid {
    border: 1px solid $color-border;
    border-radius: 3px;
    border-collapse: collapse;
    width: 100%;
    @include media-query($small-up) {
      width: 70%;
    }
    @include media-query($medium-up) {
      width: 60%;
    }
    @include media-query($large-up) {
      width: 50%;
    }

    thead {
      background-color: $color-secondary_2;
      text-align: left;

      th {
        border: 0;
      }
    }
  }
}

.price {
  text-align: right;
  flex: none;
  white-space: nowrap;
  margin-right: 1rem;
}

.description-wrapper {
  margin: 1rem auto;
  width: 90%;

  @include media-query($large-up) {
    margin: 1rem auto;
    width: 70%;
  }
}

#Quantity {
  max-width: 5rem;
  min-width: 4rem;
}
