/*================ Site Header ================*/
.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

.site-header__logo-image {
  margin: 0 auto;
  width: 100%;

  @include media-query($large-up) {
    margin: inherit;
  }
}

header {
  // border: 1px solid rgb(230, 42, 131);
  display: flex;
  flex-flow: column;

  @include media-query($large-up) {
    flex-flow: row;
    flex-wrap: wrap;
    padding: 1rem;
  }

  @include media-query($widescreen) {
    align-items: center;
    flex-wrap: nowrap;
  }
}

.masthead {
  display: flex;
  flex-flow: column;

  @include media-query($medium-up) {

  }

  @include media-query($big-up) {
    flex-flow: row;
  }

  @include media-query($large-up) {
    flex: 1 1 100%;
  }

  @include media-query($widescreen) {
    flex: 2 1 60%;
  }
}

.header-item {
  flex: 1 1 auto;
  margin-bottom: 1rem;
  text-align: center;
}

.logotyp {
  // border: 1px solid blueviolet;

  @include media-query($big-up) {
    flex: 3 1 auto;
    padding: 0 1rem;
  }

  @include media-query($widescreen) {
    flex: 1 1 auto;
  }
}

.customer-search {
  // border: 1px solid lime;
  display: flex;
  flex-flow: column;

  @include media-query($medium-up) {
    align-items: center;
    flex-flow: row;
    padding: 1rem;
  }

  @include media-query($big-up) {
    flex: 1 1 auto;
  }
}

.customer {
  flex: 1;

  @include media-query($medium-up) {
    border-left: 1px solid lighten($color-primary-light, 35%);
    padding-left: 1rem;
  }
}

.customer-links {
  display: flex;
  flex-flow: column;
  margin-bottom: 0;
  @include media-query($medium-up) {
    text-align: left;
//     flex-flow: row;
//     justify-content: space-between;
  }
}

.customer-links > li {
  line-height: 1.6;
}

.search {
  flex: 1;
  @include media-query($medium-up) {
    order: -1;
    padding-right: 1rem;
    text-align: right;
  }

  @include media-query($big-up) {
    border-right: 0;
    flex: 2;
    // order: inherit;
  }

  @include media-query($widescreen) {
    flex: 1.5;
    white-space: nowrap;
  }
}

.main-nav {
  @include media-query($widescreen) {
    flex-basis: 40%;
    // flex: 1 1 40%;
  }
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  li {
    border: 1px solid $color-primary-light;
    flex: 1 1 30%;
    margin-top: -1px;
    padding: .7rem;
  }

  a {
    color: $color-body-text;
  }

  @include media-query($medium-up) {
    flex-wrap: nowrap;

    li {
      border: 0;
      border-right: 1px solid $color-primary-light;
      &:last-of-type {
        border-right: 0;
      }
    }
  }

  @include media-query($widescreen) {
    flex-wrap: wrap;

    li {
      border: 1px solid $color-primary-light;
      flex-basis: 30%;
      &:last-of-type {
        border-right: 1px solid $color-primary-light;
      }
    }
  }
}
