/*================ Site Header ================*/
.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

.site-header__logo-image {
  margin: 0 auto;
  width: 100%;
}

header {
  display: flex;
  flex-flow: column;
  
  @include media-query($large-up) {
    flex-flow: row;
    flex-wrap: wrap;
    padding: 1rem;
  }
}

.header-item {
  flex: 1 1 auto;
  text-align: center;
  margin-bottom: 1rem; 
}

.customer-search {
  /* border: 1px solid lime; */
  display: flex;
}

.logotyp {
  /* border: 1px solid blueviolet; */
  @include media-query($large-up) {
    flex: 1 1 100%;
  }

  @include media-query($widescreen) {
    flex: 1 1 auto;
  }
}

.customer {
  /* border: 1px solid pink; */
  display: flex;
  
  @include media-query($large-up) {
    flex-wrap: wrap;
    flex: 2 1 auto;
  }
}

.customer-cart {
  flex: 1 1 auto;
  
  @include media-query($widescreen) {
    flex-basis: 100%;
  }
}

.customer-links {
  flex: 1 1 auto;
  
  @include media-query($widescreen) {
    flex-basis: 100%;
  }
}

.customer-links > ul {
  display: flex;
  justify-content: space-around;
  li {
    flex: 1 1 auto;
  }
  
  @include media-query($widescreen) {
    flex-wrap: wrap;
    li {
      width: 100%;
      margin-bottom: 0.6rem;
    }
  }
}

.search {
  /* border: 1px solid red; */
  @include media-query($large-up) {
    flex: 1 1 auto;
  }
}

nav {
  @include media-query($large-up) {
    flex: 5;
  }
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  li {
    border: 1px solid $color-primary-light;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    padding: 0.7rem;
    margin-top: -1px;
  }
  
  a {
    color: $color-body-text;
  }
  
  @include media-query($medium-up) {
    flex-wrap: nowrap;
    
    li {
      border: none;
      border-right: 1px solid $color-primary-light;
      &:last-of-type {
        border-right: none;
      }
    }
  }
  
  @include media-query($large-up) {
    flex-wrap: wrap;
    
    li {
      flex-basis: 30%;
      border: 1px solid $color-primary-light;
    }
  }
}
