/*================ Site Header ================*/
.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

.site-header__logo-image {
  margin: 0 auto;
  width: 100%;

  @include media-query($large-up) {
    margin: inherit;
  }
}

header {
  display: flex;
  flex-flow: column;
}

.masthead {
  display: flex;
  flex-flow: column;

  @include media-query($medium-up) {

  }

  @include media-query($big-up) {
    flex-flow: row;
  }
}

nav {
  border-top: 1px solid $color-secondary_2;
}

.header-item {
  flex: 1 1 auto;
  margin-bottom: 1rem;
  text-align: center;
}

.logotyp {
  @include media-query($big-up) {
    padding: 0 1rem;
  }

  @include media-query($widescreen) {
    flex: 1 1 auto;
  }
}

.customer-search {
  display: flex;
  flex-flow: column;

  @include media-query($medium-up) {
    align-items: center;
    flex-flow: row;
    justify-content: space-around;
    padding: 1rem;
  }

  @include media-query($big-up) {
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}

.customer {
  flex: 1;

  @include media-query($medium-up) {
    padding-left: 1rem;
    flex: 0 0 auto;
  }
}

.customer-links {
  display: flex;
  flex-flow: column;
  margin-bottom: 0;
  @include media-query($medium-up) {
    text-align: left;
  }
}

.customer-links > li {
  line-height: 2.6;

  @include media-query($medium-up) {
    line-height: 1.8;
  }
}

.search {
  flex: 1;
  @include media-query($medium-up) {
    order: -1;
    padding-right: 1rem;
    text-align: right;
    flex: 0 0 auto;
  }

  @include media-query($big-up) {
    border-right: 0;
  }

  @include media-query($widescreen) {
    white-space: nowrap;
  }
}

.main-nav {
  background-color: $mainnav-bg;
  @include media-query($widescreen) {
    flex-basis: 40%;
  }
}

.site-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;

  li {
    border: 1px solid $color-secondary_2;
    flex: 1;
    margin-top: -1px;
    white-space: nowrap;
  }

  a {
    display: block;
    color: $color-body-text;
    padding: .5rem;
    &:hover {
      background-color: $color-link_hover;
    }
  }

  @include media-query($small-up) {
    flex-direction: row;
  }

  @include media-query($medium-up) {
    li {
      border: 0;
      border-right: 1px solid $color-secondary_2;
      flex: 0 1 0;
      padding: 0 1rem;
      &:last-of-type {
        border-right: 0;
      }
    }
  }

  @include media-query($widescreen) {
    flex-wrap: wrap;
  }
}

.site-nav--active {
  background-color: $color-secondary_2;
}

.breadcrumb {
  font-size: .9rem;
  font-family: metropolis-regular;
  width: 90%;
  margin: 0 auto 1rem auto;
  border: none;
}
