<h1>This is the Hero banners</h1>

<div class="heros">
{% for block in section.blocks %}
<div class="hero-item">
  <img src="{{ section.settings.hero }}" alt="">
</div>
{% endfor %}
</div>

<!--
<img src="{{ section.settings.hero1 }}" alt="">

<p> {{ section.settings.text-box }} </p>
<p> {{ section.settings.text }} </p>
-->
{% schema %}
  {
    "name": "Hero",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "image_picker",
        "name": "Heroimage"
      }
    ],
    "presets": [
    {
      "name": "Hero banners",
      "category": "Banners"
    }
  ]
  }
{% endschema %}