<h1>This is the Hero banners</h1>

<div class="hero">
{% for block in section.blocks %}
<div class="hero-item">
  <img src="{{ section.settings.hero }}" alt="">
</div>
{% endfor %}
</div>

<!--
<img src="{{ section.settings.hero1 }}" alt="">

<p> {{ section.settings.text-box }} </p>
<p> {{ section.settings.text }} </p>
-->
{% schema %}
  {
    "name": "Hero banners",
    "min_block": 3,
    "max_block": 3,
    "settings": [
      {
        "type": "image_picker",
        "id": "hero",
        "label": "Banner",
        "default": "???"
      }
    ],
    "blocks": [
      {
        "type": "image_picker",
        "id": "hero",
        "label": "Banner",
        "default": "???"
      }
    ],
    "presets": [
    {
      "name": "Hero banners",
      "category": "Banners"
    }
  ]
  }
{% endschema %}