<h1>This is the Hero banners</h1>

<div class="heros">
{% for block in section.blocks %}
<div class="hero-item">
  {% if block.settings.image != blank %}
  <a href="{{ block.settings.herolink }}"><img src="{{ block.settings.image }}" alt=""></a>
  {% else %}
  <img src="{{ 'placeholder-banner.png' | asset_img_url: 'grande' }}" alt="">
  {% endif %}
</div>
{% endfor %}
</div>

{% schema %}
  {
    "name": "Hero banners",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "image_picker",
        "name": "Add image",
        "settings": [
          {
            "type": "image_picker",
            "id": "heroimage",
            "label": "Hero image"
          },
          {
            "id": "herolink",
            "type": "url",
         		"label": "Hero link"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Hero banners",
      "category": "Banners"
    }
  ]
  }
{% endschema %}