<div class="hero-headline">
{% if block.settings.text != blank %}
{% for block in section.blocks limit: section.block.size %}
<div class="heroone-headline">
  <a href="{{ block.settings.heroonelink }}"><img src="{{ block.settings.image }}" alt=""></a>
  <h1>{{ block.settings.heroheadline }}</h1>
</div>
{% endfor %}
{% else %}
  <div class="hero-item">
    <h1>Almost like snus!</h1>
  </div>
{% endif %}
</div>

{% schema %}
  {
    "name": "Hero headline",
    "max_blocks": 1,
    "blocks": [
      {
        "type": "text",
        "name": "The big headline",
        "settings": [
          {
            "type": "text",
            "id": "heroheadline",
            "label": "Hero headline"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Hero Headline",
      "category": "Banners"
    }
  ]
  }
{% endschema %}

