<div class="hero-one">
{% for block in section.blocks limit: section.block.size %}
<div class="heroone-item">
  <a href="{{ block.settings.herolink }}">{{ block.settings.heroimage | img_url: 'master' | img_tag }}</a>
</div>
{% endfor %}
</div>

{% schema %}
  {
    "name": "Hero one",
    "max_blocks": 1,
    "blocks": [
      {
        "type": "image_picker",
        "name": "Add image",
        "settings": [
          {
            "type": "image_picker",
            "id": "heroimage",
            "label": "Hero image"
          },
          {
            "id": "herolink",
            "type": "url",
         		"label": "Hero link"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Hero one banner",
      "category": "Banners"
    }
  ]
  }
{% endschema %}
